<%# <%= turbo_frame_tag :hotwire_invoice do%>
<div class="container mt-5">
<%= simple_form_for @invoice, wrapper: :vertical_form, html: { class: "needs-validation", novalidate: true } do |f| %>
  <div class="card shadow mb-4">
    <div class="card-header bg-warning text-white">
      <h5 class="mb-0">Información de la Factura</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.association :company,
                collection: @companies,
                label_method: :name,
                value_method: :id,
                label: ("Empresa " + link_to('<i class="fa-solid fa-square-plus"></i>'.html_safe,
                new_company_path,
                data: {
                  bs_toggle:"modal",
                  bs_target:"#companyModal"
                  },
                style: "margin-left: 5px; padding: 3px; font-size: 23px;")).html_safe,
                prompt: "Selecciona una empresa",
                input_html: { class: "form-select" },
                wrapper_html: { class: "mb-3" } %>
        </div>

        <div class="col-md-6">
          <%= f.association :client,
                collection: @clients,
                label_method: :fiscal_name,
                value_method: :id,
                label: ("Cliente" + link_to('<i class="fa-solid fa-square-plus"></i>'.html_safe,
                new_client_path,
                data: {
                  bs_toggle:"modal",
                  bs_target:"#clientModal"
                  },
                style: "margin-left: 5px; padding: 3px; font-size:23px;")).html_safe,
                prompt: "Selecciona un cliente",
                input_html: { class: "form-select" },
                wrapper_html: { class: "mb-3" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header bg-warning text-white">
      <h5 class="mb-0">Detalles de la Factura</h5>
    </div>
    <div class="card-body">
      <%= f.simple_fields_for :detail_invoices do |d| %>
        <div class="row mb-3 border-bottom pb-3">
          <div class="col-md-4">
            <%= d.input :product_number,
                  label: "Producto o sevicio",
                  input_html: { class: "form-control" },
                  wrapper_html: { class: "mb-3" } %>
          </div>

          <div class="col-md-4">
            <%= d.input :amount,
                  label: "Cantidad",
                  input_html: {
                    class: "form-control",
                    step: "0.01"
                  },
                  wrapper_html: { class: "mb-3" } %>
          </div>

          <div class="col-md-4">
            <%= d.input :unit_value,
                  label: "Valor Unitario",
                  input_html: {
                    class: "form-control",
                    step: "0.01"
                  },
                  wrapper_html: { class: "mb-3" } %>
          </div>

            <div class="col-md-3">
            <%= d.input :description,
                  label: "Descripción Producto (Opcional)",
                  input_html: {
                    class: "form-control",
                    placeholder: "Descripción breve del producto"
                  },
                  wrapper_html: { class: "mb-3" },
                  required: false %>
          </div>
        </div>
      <% end %>

      <div class="mb-3">
        <button type="button" class="btn btn-outline-warning btn-sm" id="add-detail">
          <i class="bi bi-plus-circle"></i> Agregar otro producto
        </button>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-between md-end mb-4">
    <%= link_to "Cancelar", invoices_path, class: "btn btn-secondary p-3" %>
    <%= f.button :submit, "Crear Factura", class: "btn-primary" %>
  </div>
<% end %>
</div>
<%# <%end%>


<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="companyModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "companies/form", locals: {
            origin: "invoice_modal"
        } %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="clientModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "clients/form_client" %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
