
<div class="container mt-5 ">
  <%= link_to '+ Agregar compañía', new_company_path, class: 'btn btn-warning rounded-pill px-4 py-2 d-flex align-items-center' %>
</div>
<div class="container mt-4" id="companiesCard">
  <ul class="list-group">
    <% @companies.each do |company| %>
      <li class="list-group-item p-4 mb-2 shadow-sm company-card d-flex align-items-center rounded-4">
        <% if company.photo.attached? %>
          <%= image_tag url_for(company.photo), class: "rounded me-4", style: "width: 100px; height: 100px; object-fit: cover;", alt: company.name %>
        <% end %>

        <div class="flex-grow-1">
          <h3 class="mb-1"><%= company.name %></h3>
          <p class="mb-0 text-muted">
            <strong>RFC:</strong> <%= company.fiscal_number %> <br>
            <strong>CP:</strong> <%= company.postal %>
          </p>
        </div>
        <%= link_to 'Ver detalles',
                    company_path(company),
                    class: 'btn btn-outline-warning btn-sm ms-3' %>
        <%= link_to 'Remove',
                    company_path(company),
                    class: 'btn btn-outline-danger btn-sm ms-3',
                    data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" } %>
      </li>
    <% end %>
  </ul>

</div>
