<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="bg-white p-5 shadow rounded-4 border border-2" style="width: 100%; max-width: 500px; border-color: #1679AB;">
    <h2 class="text-center mb-4 text-warning fw-bold">Iniciar Sesión</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs mb-3">
        <%= f.input :email,
                    label: "Correo electrónico",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "form-control form-control-lg" } %>

        <%= f.input :password,
                    label: "Contraseña",
                    required: false,
                    input_html: { autocomplete: "current-password", class: "form-control form-control-lg" } %>

        <% if devise_mapping.rememberable? %>
          <div class="form-check mt-2">
            <%= f.input :remember_me, as: :boolean, label: "Recordarme", inline_label: false, input_html: { class: "form-check-input" }, label_html: { class: "form-check-label" } %>
          </div>
        <% end %>
      </div>

      <div class="form-actions mb-3">
        <%= f.button :submit, "Ingresar", class: "btn btn-warning w-100 rounded-pill fs-5 py-2" %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
